/web/bundles/
web/uploads/*
!web/uploads/.gitkeep
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/app/SymfonyRequirements.php
/app/check.php
/build/
/vendor/
/bin/
!/bin/base_script.php
!/bin/reload
/composer.phar
.idea/
*~

