# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     chetheatre
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    #database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            uk

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    admin_dashboard_base_url: /admin
    sonata_admin.title: 'CheTheatre Project'
    sonata_admin.logo_title: bundles/sonataadmin/logo_title.png
    prod_server_pass: ~
    prod_server_path: ~
    https_github_repository_url: ~
    api_domain: api.chetheatre.local
    admin_domain: admin.chetheatre.local
    prod_server_ip: ~
    nelmio_cors.origin: ['*']
    cdn_domain: http://%api_domain%
    users:
        admin: { password: 111111, roles: 'ROLE_SUPER_ADMIN'}
