<div class="row" style="padding: 10px;">
    <div class="form-group col-md-2">
        <label for="showSeriesNumber">{{ 'Series Number'|trans() }}:</label>
        <input type="text" class="form-control" id="showPerformance" disabled value="{{ performanceEvent.seriesNumber }}">
    </div>
    <div class="form-group col-md-12">
        <label>{{ 'Enable Sale'|trans() }}:</label>
        <p><input type="checkbox" checked disabled> {{ 'Tickets generate'|trans() }}</p>
    </div>
</div>
