{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
    <a id="logo" href="http://theatre-shevchenko.ck.ua">
        <img style="height: 58px" src="http://theatre-shevchenko.ck.ua/en/assets/images/logo.png" alt="Cherkassy theatre of Taras Shevchenko">
    </a>
{% endblock header %}
