<div>
    <form action="" method="POST">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />


        <label for="password">Пароль:</label>
        <input type="password" id="password" name="_password" />


        <button type="submit">войти</button>
    </form>
</div>
